<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center">
                    DIAGNÓSTICO PARA CONTRIBUIR A LA IGUALDAD DE GÉNERO EN EL PODER LEGISLATIVO DEL ESTADO DE MÉXICO
                </h6>
                <div class="row">
                    <div ngbAccordion [closeOthers]="true">
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><b>Objetivo del diagnóstico</b></button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Este instrumento tiene como finalidad identificar situaciones de desigualdad,
                                        discriminación o trato inequitativo por razón de género al interior del Poder
                                        Legislativo, con el objetivo de implementar acciones afirmativas, políticas de
                                        inclusión y buenas prácticas laborales que promuevan una cultura de igualdad
                                        sustantiva entre mujeres y hombres.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem>
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>
                                    <b>Instrucciones de llenado</b>
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="contenido-centrado">
                                            <p>Este diagnóstico consta de 6 secciones.</p>
                                            <p>Marque con una ✔ la opción que más se aproxime a su experiencia o
                                                percepción.</p>
                                            <p>Su participación es anónima y confidencial.</p>
                                            <br>
                                            <p><strong>Escala de frecuencia (si aplica)</strong></p>
                                            <p>☐ Nunca</p>
                                            <p>☐ Algunas veces</p>
                                            <p>☐ Frecuentemente</p>
                                            <p>☐ Siempre</p>
                                            <p>En preguntas específicas, marque la opción que mejor refleje su
                                                experiencia.</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Titulo de cada sección aqui mero</h6>

                                <aw-wizard #wizardForm>
                                    <aw-wizard-step stepTitle="Sección 1">
                                      
                                       
                                    </aw-wizard-step>

                                    <aw-wizard-step stepTitle="Sección 2">

                                    </aw-wizard-step>
                                    <aw-wizard-step stepTitle="Sección 3">

                                    </aw-wizard-step>
                                    <aw-wizard-step stepTitle="Sección 4">

                                    </aw-wizard-step>
                                    <aw-wizard-step stepTitle="Sección 5">

                                    </aw-wizard-step>

                                    <aw-wizard-step stepTitle="Sección 6">
                                        <div class="text-center">
                                            <i data-feather="check-circle" appFeatherIcon
                                                class="text-success mt-4 mb-2 icon-xxl"></i>
                                            <h3 class="text-secondary mb-3">Thank you !</h3>
                                            <p class="w-75 mx-auto mb-4 text-secondary">Lorem ipsum dolor sit amet,
                                                consectetur adipiscing elit. Integer ut nulla nunc. Maecenas arcu sem,
                                                hendrerit a tempor quis, sagittis accumsan tellus. In hac habitasse
                                                platea dictumst</p>
                                        </div>
                                        <div class="d-flex justify-content-center mt-2">
                                            <button class="btn btn-secondary me-2" type="button"
                                                awPreviousStep>Back</button>
                                            <button class="btn btn-success" type="button">Finish</button>
                                        </div>
                                    </aw-wizard-step>

                                </aw-wizard>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>